<div class="fast-buy center">
	                <p>Вы можете сделать заказ быстрее</p>
	                <div class="fast-form">
	                    <form>
	                        <input type="submit" value="Отравить" class="fast-form-sent">
	                        <input type="text" name="user-name" value="" placeholder="Ваше имя">
	                        <input type="text" name="user-adres" value="" placeholder="Телефон и адрес">
	                        <textarea name="buy-items" placeholder="Названия и количество, например: 
	Волшебный (2), Изысканный (1)"></textarea>
	                    </form>
	                </div>
	            </div>